[Unit]
Description=Harbor
After=docker.service systemd-networkd.service systemd-resolved.service
Requires=docker.service
Documentation=http://github.com/vmware/harbor

[Service]
Type=simple
Restart=on-failure
RestartSec=5
ExecStart={{ root_dir }}/usr/bin/docker-compose -f {{ harbor_dir }}/docker-compose.yml up
ExecStop={{ root_dir }}/usr/bin/docker-compose -f {{ harbor_dir }}/docker-compose.yml down

[Install]
WantedBy=multi-user.target